name: Build and deploy a container to an Azure Web App

on:
  push:
    branches: 
       - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Azure Container Registry Login
        uses: azure/docker-login@v1
        with:
          login-server: vekawspocregistry.azurecr.io # default: index.docker.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Push docker image to ACR
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: vekawspocregistry.azurecr.io/poc-automation-test:test
          file: Dockerfile

  deploy:
      needs: build
      runs-on: ubuntu-latest
      steps:
      - name: Deploy execute command ssh to remote server
        uses: appleboy/ssh-action@master
        with:
         host: ${{ secrets.HOST }}
         username: ${{ secrets.USERNAME }}
         password: ${{ secrets.PASSWORD }}
         script: |
           docker pull vekawspocregistry.azurecr.io/poc-automation-test:test
           docker build -t vekawspocregistry.azurecr.io/poc-automation-test:test .
           docker run -d vekawspocregistry.azurecr.io/poc-automation-test:test
           
